/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body {
  height: 100%;
  background: #000;
}
#loading {
  border: 2px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.2);
  color:#FFF;
  position: absolute;
  width:160px;
  text-align: center;
  font: bold 16px/30px Simsun;
  left:50%;
  top:50%;
  margin:-32px 0 0 -82px;
  border-radius: 4px;
  -webkit-animation-duration: 4s;
  -moz-animation-duration:4s;
  -ms-animation-duration:4s;
  animation-duration:4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count:infinite;
  -ms-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
}
body.bg{
  background: url(../img/bg.jpg) center center #000;
  background-size:cover;
}
header {
  position: absolute;
  left:50%;
  top:50%;
  margin-left: -375px;
  margin-top: -435px;
  z-index: 2;
}
#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -190px;
  margin-top: -415px;
}
#main-body {
  width: 980px;
  height: 360px;
  margin-left:-518px;
  margin-top:-297px;
  position: absolute;
  padding: 207px 163px 130px 16px;
  left:50%;
  top:50%;
  z-index: 1;
}
#main-body.bg {
  background: url(../img/container.png) no-repeat;
}
#question {
  margin:40px 0 50px 135px;
  font:bold 24px/30px Microsoft Yahei, Simhei;
}
#question strong {
  color:#E33;
}
#options {
  margin:0 100px 0 135px;
  padding: 0;
  position: relative;
}
#options li {
  float:left;
  list-style: upper-alpha;
  list-style: upper-latin;
  font:24px/30px Arial;
  margin:0 0 10px 80px;
  padding: 10px;
  cursor: pointer;
}
#options li:hover {
  background: #CCC;
  border-radius: 4px;
  box-shadow: inset 1px 1px 4px 0 rgba(0, 0, 0, 0.4);
}
#options .sign {
  position: absolute;
  width: 130px;
  height:95px;
  z-index: 5;
  background: url(../img/right.png) no-repeat;
}
#options .sign.error {
  width: 132px;
  height:101px;
  background-image: url(../img/wrong.png);
}
#subtitle {
  text-align: right;
  position: absolute;
  right: 390px;
  bottom: 10px;
  width: 400px;
  color: #FFF;
  font:bold 18px/25px Microsoft Yahei, Simhei;
}
#subtitle a {
  color:#FFF;
  text-decoration: none;
}
#subtitle a:hover {
  color:#649CAF;
  text-decoration: underline;
}
#subtitle span {
  margin-right: 20px;
}

#cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  z-index: 3;
  top:0;
  left:0;
}
#popup,
#final-popup {
  width:580px;
  padding: 20px;
  position: absolute;
  top:470px;
  left:50%;
  margin-left: -320px;
  background: #FFF;
  border: 5px solid #649CAE;
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.3);
  z-index: 4;
}
#popup .rows {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  box-orient:horizontal;
  -webkit-box-orient:horizontal;
  -moz-box-orient:horizontal;
  -ms-flex-direction:row;
}
#popup .icon {
  width:120px;
  margin-right: 15px;
}
#popup .description {
  box-flex:1;
  -webkit-box-flex:1;
  -moz-box-flex:1;
  -ms-flex:1;
  font:14px/22px Simsun;
}
#popup h3,
#final-popup h3 {
  font:bold 24px/30px Microsoft Yahei, Simhei;
  color: #649CAF;
  margin:0 0 5px;
}
#popup p,
#final-popup p{
  margin:0 0 10px;
}
#popup .next-button,
#final-popup .replay-button {
  padding: 0;
  margin:0;
  width:200px;
  font:bold 16px/30px Simsun;
  color:#FFF;
  text-align: center;
  background: #447E95;
  background: linear-gradient(to bottom, #6198AD, #447E95);
  border: none;
  cursor: pointer;
}
#popup .others {
  margin:15px 0 0;
  padding: 0;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  box-orient:horizontal;
  -webkit-box-orient:horizontal;
  -moz-box-orient:horizontal;
  -ms-flex-direction:row;
}
.others li {
  list-style: none;
  text-align: center;
  box-flex:1;
  -webkit-box-flex:1;
  -moz-box-flex:1;
  -ms-flex:1;
  font:12px/20px simsun;
}
.close {
  background: transparent;
  border: none;
  position: absolute;
  right:10px;
  top:15px;
  cursor: pointer;
  width: 20px;
  height:20px;
  margin:0;
  padding: 0;
  text-align: center;
}
#final-popup textarea {
  width:560px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;display: inline-block;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
